doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content=desc)
    meta(name='author', content=author)
    meta(name='contact', content=contact)
    meta(name="viewport" content=content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    title= title
    link(rel='stylesheet' href='/css/style.css')

  body
    block content

    script(src='/js/bundle.js' defer)
